@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/resist-sans-display');
/* @import url('https://fonts.cdnfonts.com/css/merchandise'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
    transition: 0.3s;
}
:root{
    font-size: 16px;
    --light: #d8dbe0;
    --dark: #28292c;
}

p,label,td,th,.carrousel-card h6{
    color: #6e6e6e;
} 


ul li a, label{
    font-weight: 500;
}

.categories div{
    display: flex;
    gap: .5rem;
    align-items: center;
}


nav{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.logo{   
    max-height: 3rem;
}

.logo-white{
    display: none;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #6e6e6e;
    transition: .2s;
}




ul li a:hover{
    color:#555555;
}

.dark-mode ul li a:hover{
    color: white;
}


.toggle-switch {
    position: relative;
    width: 100px;
    margin-bottom:1.6rem;
}

.label-switch {
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
}

.input-switch {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
}

.slider::before {
    content: "";
    position: absolute;
    top: 3.25px;
    left: 4px;
    width: 18.75px;
    height: 18.75px;
    border-radius: 50%;
    box-shadow: inset 7px -1px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}


.input-switch:checked ~ .slider {
    background-color: #25D366;
}

.input-switch:checked ~ .slider::before {
    transform: translateX(23.75px);
    background-color: var(--dark);
    box-shadow: none;
}

.dark-main {
    background-color: #171717;
}

.dark-card {
    background-color: #1e1e1e !important;
}

.white-text {
    color: white !important;
}




footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: auto;
}
.socials{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.socials a{
    padding: .4rem 2rem .4rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    border-radius: .3rem;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}

.socials a:hover, button:hover,.bi-caret-left-fill:hover,.bi-caret-right-fill:hover,.view-events:hover{
    filter: brightness(80%) ;
}

.socials a svg{
    width: 1rem;
    height: 1rem;
    color:white;
}
.socials a label{
    color:white;
}



.dropdown{
    display: none;
} 

button, .submit{
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .3rem 1rem .3rem 1rem;
    color: white;
    font-weight: 500;
    background-color:#0d6efd;
    border: none;
    border-radius: .3rem !important;
    transition: 0.2s;
}

main {
    background-color: #EAEAEA;
    padding:0 0 2rem 0 !important;
}

fieldset{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carrousel {
    flex-wrap: wrap;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
}
.carrousel svg {
    width: 1rem;
    height: 1rem;
    color: white;
}

.carrousel-card{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    max-width: 40rem !important ;
    max-height: max-content;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: .3rem;
}

.carrousel-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.view-events{
    width: fit-content;
    padding: .3rem 1rem .3rem 1rem;
    border-radius: .3rem;
    background-color: #0d6efd;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.view-events:hover{
    color: white !important;
}



.search-bar{
    padding: 2rem 0 2rem 0;
}

.search-bar form {
    display: flex;
    justify-content: center;
}

.search-input {
    width: 15rem;
    background-color: white;
    padding: .2rem;
    border-radius: .3rem;
}

.search-icon,.socials a label{
    cursor: pointer;
}

.categories{
    display: flex;
    gap: 2rem;
}

.cards {
    display: flex;
    gap: 1rem;
    justify-content: center;  
}
.card {
    width: 14rem !important;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0 1.5rem 1.5rem 1.5rem !important;
    
}
figure {
    overflow: hidden;
}

.card img {
    width: 14rem;
    height: 14rem;
    object-fit:cover;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    position: relative;
    overflow: hidden;
}

.card img:hover {
    transform: scale(1.5);
}

p{
    padding: 0  0 1rem 0;
    margin-bottom: 0 !important;
}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-form form{
    display: flex;
    height: 20.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form input{
    margin-bottom: 1rem;
}


h1{
    cursor:default;
    font-size: 4rem !important;
    font-family: 'Resist Sans Display', sans-serif;
    margin-bottom: 0 !important;
    line-height: 1 !important;
    width: fit-content;
}

h1:hover{
    text-shadow: cyan 2px 0,
                red -2px 0
}

.bi-caret-left-fill,.bi-caret-right-fill{
    margin-bottom: .5rem;
    transition: 0.5s all ease;
    transform: rotateX(40deg) scale(1.2);
    perspective: 900px;
    fill: black;
    width: 3rem !important;
    height: 3rem !important;
}
.bi-caret-left-fill:hover,.bi-caret-right-fill:hover{
    transform: rotateX(-20deg) scale(1) ;
}


.card h4 {
    padding: 0 0 .5rem 0 !important;
}

footer h4 {
    margin-bottom: 0 !important;
}

table{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.table-section{
    display: flex;
    justify-content: center;
}

table td{
    border: 1px solid black;
    padding: 1rem;
}

table th{
    padding: 1rem;
}

input{
    padding: .2rem;
    border: none;
    border-radius: .3rem;
}
input:focus{
    outline: none;
}

input[type="checkbox"]{
    accent-color: #d90368 ;
    width: 1rem;
    height: 1rem;
}

.details{
    margin: 2rem;
    width: 22rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: .3rem;
    background-color: white;
    gap: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding-bottom: 2rem;
}
.details div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    padding: 0 2rem 0 2rem;
}
h6,.details div p {
    margin: 0 !important;
}
p{
    line-height: normal;
}
.details-title{
    flex-direction: column;
}

.details div img {
    width: 22rem;
    height: 18rem;
    object-fit: cover;
}

.main-container{
    display: flex;
    justify-content: center;
}

.bi-caret-left-fill,.bi-caret-right-fill{
    color: black;
}

.contact-main{
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





@media (max-width:576px){
    h1{
        font-size: 3rem !important;
    }
    .bi-caret-left-fill,.bi-caret-right-fill{
        width: 2rem !important;
        height: 2rem !important;
    }
    .carrousel-title{
        gap: .5rem;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    table td, table th{
        padding: .5rem;
    }
    .logo{
        padding-left: 1rem;
        max-height: 2rem;
    }
    .carrousel{
        background-size: cover;
    }
    footer h4 {
        margin-top: 1rem !important;
    }
}
@media (max-width:767px){
    .search-input{
        margin-top: 1rem;
    }
    
}
@media (max-width:991px){
    nav ul{
        display: none;
    }
    .dropdown{
        display:block;
    } 
    .dropdown a{
        list-style: none;
        color: #555555;
    } 
    .dropdown a:hover,.dropdown a:focus{
        color: black;
    } 
}
