@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
:root{
    font-size: 16px;
}

p{
    color: #555555;
} 


nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: white;
}

.logo{
    max-height: 3rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #555555 ;
    transition: .2s;
}
ul li a:hover{
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}
.socials{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.socials svg{
    width: 2rem;
    height: 2rem;
}
.menu{
    display: none;
} 

main {
    padding: 2rem 0 2rem 0;
    background-color: #F2F2F2;
}

fieldset{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carrousel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.carrousel svg {
    width: 2rem;
    height: 2rem;
}

.search-bar{
    padding: 2rem 0 2rem 0;
}

.search-bar form {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    gap: 1rem;
    justify-content: center;  
}

.cards div {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: .3rem;
    padding: 2rem;
    background-color: white;
}
.cards div img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: .3rem;
}
.price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form form input{
    margin-bottom: 1rem;
}
h1{
    font-weight: bold;
}
h4 {
    padding-top: 1rem;
}

table{
    background-color: white;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin-top: 2rem;
}

.table-section{
    display: flex;
    justify-content: center;
}

table td{
    border: 1px solid black;
    padding: 1rem;
}

table th{
    padding: 1rem;
}

input{
    padding: .2rem;
}

.details{
    margin: 2rem;
    padding: 1rem;
    width: 22rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: .3rem;
}
.details div {
    display: flex;
}
.details-title{
    flex-direction: column;
    padding-bottom: 1rem;
}

.details div img {
    width: 18rem;
    height: 12rem;
    object-fit: cover;
    border-radius: .3rem;
}

.main-container{
    display: flex;
    justify-content: center;
}


@media (max-width:576px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:767px){
    .search-input{
        margin-top: 1rem;
    }
}
@media (max-width:991px){
    nav ul{
        display: none;
    }
    .menu{
        display: block;
    } 
    
}
